.container {
    position: relative;
    width: 272px;
    height: 208px;
    cursor: grab;
    
}

.priceContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 9px
}